@media screen and (max-width:480px){
	body {
		font-size: .7em;
	}
}

@media screen and (min-width:480px){
	body {
		font-size: 1em;
	}
}
	
.ui-header .ui-title {
	margin: .6em auto .8em auto;
}	