@media screen and (max-width:480px){
	#suggestion {
		text-align: center;
		margin: auto;
	}
	
	#suggestion img{
		width: 90%;
		height: auto;
	}
	
	#suggestion hr{
		margin: 2em auto 2em auto;
		width: 90%;
	}
	
	#ingredients {
		text-align: left;
		width: 100%;
		margin: 0 auto 0 auto;
	}
	
	#recipe {
		width: 100%;
		margin: 0 auto 0 auto;
	}
		
}

@media screen and (min-width: 480px){
	#suggestion {
		text-align: center;
		margin: auto;
	}
	
	#suggestion img{
		width: 30%;
		height: auto;
		float: left;
		margin-left: 10%;
	}
	
	#suggestion hr{
		display:none;
	}
	
	#details {
		margin: 0 0 0 45%;
	}
	
	#ingredients {
		text-align: left;
		margin: 0 auto 0 auto;
	}
	
	
	#recipe {
		margin: 0 auto 0 auto;
	}
	
	

}

/* pour toutes les résolutions*/


#suggestion ul{
	text-align: left;
	list-style-image:url('../res/img/checkMark.gif');
}

#ingredients {
	text-align: left;
}
#ingredients span:FIRST-CHILD{
	font-weight: bold;
}

#ingredientsList {
	text-align: left;
	font-style: italic;
}